// app global css
@font-face
    font-family Din
    src url("fonts/GothaProReg.otf") format("opentype")

@font-face
    font-family DinMedium
    src url("fonts/GothaProMed.otf") format("opentype")

@font-face
    font-family Din
    font-weight bold
    src: url("fonts/GothaProBol.otf") format("opentype")

@font-face
    font-family Arimo
    src url("fonts/GothaProMed.otf") format("opentype")

@font-face
    font-family Merch
    src url('fonts/fake-receipt.regular.ttf') format('truetype');