<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351188118565-fg5i63vgkki9c7tebmr15dkdoj21lf6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351188118565-fg5i63vgkki9c7tebmr15dkdoj21lf6j</string>
	<key>API_KEY</key>
	<string>AIzaSyB6lT-5QZNCOZE2PHbDm_Lky7v_-B0Ozjw</string>
	<key>GCM_SENDER_ID</key>
	<string>351188118565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tenging.invicta</string>
	<key>PROJECT_ID</key>
	<string>invicta-loyalty</string>
	<key>STORAGE_BUCKET</key>
	<string>invicta-loyalty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351188118565:ios:d193efe9c69a117e71e3cc</string>
	<key>DATABASE_URL</key>
	<string>https://invicta-loyalty.firebaseio.com</string>
</dict>
</plist>